/*
 * HiddenLayer ModelScan V2
 * HiddenLayer ModelScan API for scanning of models
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package hiddenlayer.sdk.rest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import hiddenlayer.sdk.ApiClient;
import hiddenlayer.sdk.ApiException;
import hiddenlayer.sdk.ApiResponse;
import hiddenlayer.sdk.Pair;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.List;
import java.util.StringJoiner;
import java.util.UUID;
import java.util.function.Consumer;
import org.openapitools.client.model.ModelScanApiV3ScanModelVersionIdPatch200Response;
import org.openapitools.client.model.ModelScanApiV3ScanQuery200Response;
import org.openapitools.client.model.ScanCreateRequest;
import org.openapitools.client.model.ScanJob;
import org.openapitools.client.model.ScanReportV3;
import org.openapitools.client.model.ScanResultsV2;

@javax.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        date = "2024-12-02T22:09:05.901919Z[GMT]",
        comments = "Generator version: 7.6.0")
public class ModelSupplyChainApi {
    private final HttpClient memberVarHttpClient;
    private final ObjectMapper memberVarObjectMapper;
    private final String memberVarBaseUri;
    private final Consumer<HttpRequest.Builder> memberVarInterceptor;
    private final Duration memberVarReadTimeout;
    private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
    private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

    public ModelSupplyChainApi() {
        this(new ApiClient());
    }

    public ModelSupplyChainApi(ApiClient apiClient) {
        memberVarHttpClient = apiClient.getHttpClient();
        memberVarObjectMapper = apiClient.getObjectMapper();
        memberVarBaseUri = apiClient.getBaseUri();
        memberVarInterceptor = apiClient.getRequestInterceptor();
        memberVarReadTimeout = apiClient.getReadTimeout();
        memberVarResponseInterceptor = apiClient.getResponseInterceptor();
        memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
    }

    protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
        String body =
                response.body() == null ? null : new String(response.body().readAllBytes());
        String message = formatExceptionMessage(operationId, response.statusCode(), body);
        return new ApiException(response.statusCode(), message, response.headers(), body);
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
        if (body == null || body.isEmpty()) {
            body = "[no body]";
        }
        return operationId + " call failed with: " + statusCode + " - " + body;
    }

    /**
     * Get Result of a Model Scan
     *
     * @param scanId  (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @return ScanReportV3
     * @throws ApiException if fails to make API call
     */
    public ScanReportV3 modelScanApiV3ScanModelVersionIdGet(UUID scanId, Boolean hasDetections) throws ApiException {
        ApiResponse<ScanReportV3> localVarResponse =
                modelScanApiV3ScanModelVersionIdGetWithHttpInfo(scanId, hasDetections);
        return localVarResponse.getData();
    }

    /**
     * Get Result of a Model Scan
     *
     * @param scanId  (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @return ApiResponse&lt;ScanReportV3&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<ScanReportV3> modelScanApiV3ScanModelVersionIdGetWithHttpInfo(UUID scanId, Boolean hasDetections)
            throws ApiException {
        HttpRequest.Builder localVarRequestBuilder =
                modelScanApiV3ScanModelVersionIdGetRequestBuilder(scanId, hasDetections);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelScanApiV3ScanModelVersionIdGet", localVarResponse);
                }
                return new ApiResponse<ScanReportV3>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        localVarResponse.body() == null
                                ? null
                                : memberVarObjectMapper.readValue(
                                        localVarResponse.body(),
                                        new TypeReference<ScanReportV3>() {}) // closes the InputStream
                        );
            } finally {
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelScanApiV3ScanModelVersionIdGetRequestBuilder(UUID scanId, Boolean hasDetections)
            throws ApiException {
        // verify the required parameter 'scanId' is set
        if (scanId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'scanId' when calling modelScanApiV3ScanModelVersionIdGet");
        }

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scan/v3/results/{scan_id}".replace("{scan_id}", ApiClient.urlEncode(scanId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<>();
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        localVarQueryParameterBaseName = "has_detections";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("has_detections", hasDetections));

        if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
            StringJoiner queryJoiner = new StringJoiner("&");
            localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
            if (localVarQueryStringJoiner.length() != 0) {
                queryJoiner.add(localVarQueryStringJoiner.toString());
            }
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
        } else {
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        }

        localVarRequestBuilder.header("Accept", "application/json; charset=utf-8, application/sarif+json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Indicate part (file or files) of a model scan has completed
     *
     * @param scanId  (required)
     * @param scanReportV3 Request body for partial update (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @return ModelScanApiV3ScanModelVersionIdPatch200Response
     * @throws ApiException if fails to make API call
     */
    public ModelScanApiV3ScanModelVersionIdPatch200Response modelScanApiV3ScanModelVersionIdPatch(
            UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections) throws ApiException {
        ApiResponse<ModelScanApiV3ScanModelVersionIdPatch200Response> localVarResponse =
                modelScanApiV3ScanModelVersionIdPatchWithHttpInfo(scanId, scanReportV3, hasDetections);
        return localVarResponse.getData();
    }

    /**
     * Indicate part (file or files) of a model scan has completed
     *
     * @param scanId  (required)
     * @param scanReportV3 Request body for partial update (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @return ApiResponse&lt;ModelScanApiV3ScanModelVersionIdPatch200Response&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<ModelScanApiV3ScanModelVersionIdPatch200Response>
            modelScanApiV3ScanModelVersionIdPatchWithHttpInfo(
                    UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections) throws ApiException {
        HttpRequest.Builder localVarRequestBuilder =
                modelScanApiV3ScanModelVersionIdPatchRequestBuilder(scanId, scanReportV3, hasDetections);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelScanApiV3ScanModelVersionIdPatch", localVarResponse);
                }
                return new ApiResponse<ModelScanApiV3ScanModelVersionIdPatch200Response>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        localVarResponse.body() == null
                                ? null
                                : memberVarObjectMapper.readValue(
                                        localVarResponse.body(),
                                        new TypeReference<
                                                ModelScanApiV3ScanModelVersionIdPatch200Response>() {}) // closes the
                        // InputStream
                        );
            } finally {
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelScanApiV3ScanModelVersionIdPatchRequestBuilder(
            UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections) throws ApiException {
        // verify the required parameter 'scanId' is set
        if (scanId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'scanId' when calling modelScanApiV3ScanModelVersionIdPatch");
        }
        // verify the required parameter 'scanReportV3' is set
        if (scanReportV3 == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'scanReportV3' when calling modelScanApiV3ScanModelVersionIdPatch");
        }

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scan/v3/results/{scan_id}".replace("{scan_id}", ApiClient.urlEncode(scanId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<>();
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        localVarQueryParameterBaseName = "has_detections";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("has_detections", hasDetections));

        if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
            StringJoiner queryJoiner = new StringJoiner("&");
            localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
            if (localVarQueryStringJoiner.length() != 0) {
                queryJoiner.add(localVarQueryStringJoiner.toString());
            }
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
        } else {
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        }

        localVarRequestBuilder.header("Content-Type", "application/json");
        localVarRequestBuilder.header("Accept", "application/json");

        try {
            byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scanReportV3);
            localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
        } catch (IOException e) {
            throw new ApiException(e);
        }
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Indicate model scan has started
     *
     * @param scanId  (required)
     * @param scanReportV3 Request body for create (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @throws ApiException if fails to make API call
     */
    public void modelScanApiV3ScanModelVersionIdPost(UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections)
            throws ApiException {
        modelScanApiV3ScanModelVersionIdPostWithHttpInfo(scanId, scanReportV3, hasDetections);
    }

    /**
     * Indicate model scan has started
     *
     * @param scanId  (required)
     * @param scanReportV3 Request body for create (required)
     * @param hasDetections Filter file_results to only those that have detections (and parents) (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<Void> modelScanApiV3ScanModelVersionIdPostWithHttpInfo(
            UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections) throws ApiException {
        HttpRequest.Builder localVarRequestBuilder =
                modelScanApiV3ScanModelVersionIdPostRequestBuilder(scanId, scanReportV3, hasDetections);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelScanApiV3ScanModelVersionIdPost", localVarResponse);
                }
                return new ApiResponse<Void>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        null);
            } finally {
                // Drain the InputStream
                while (localVarResponse.body().read() != -1) {
                    // Ignore
                }
                localVarResponse.body().close();
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelScanApiV3ScanModelVersionIdPostRequestBuilder(
            UUID scanId, ScanReportV3 scanReportV3, Boolean hasDetections) throws ApiException {
        // verify the required parameter 'scanId' is set
        if (scanId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'scanId' when calling modelScanApiV3ScanModelVersionIdPost");
        }
        // verify the required parameter 'scanReportV3' is set
        if (scanReportV3 == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'scanReportV3' when calling modelScanApiV3ScanModelVersionIdPost");
        }

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scan/v3/results/{scan_id}".replace("{scan_id}", ApiClient.urlEncode(scanId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<>();
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        localVarQueryParameterBaseName = "has_detections";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("has_detections", hasDetections));

        if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
            StringJoiner queryJoiner = new StringJoiner("&");
            localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
            if (localVarQueryStringJoiner.length() != 0) {
                queryJoiner.add(localVarQueryStringJoiner.toString());
            }
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
        } else {
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        }

        localVarRequestBuilder.header("Content-Type", "application/json");
        localVarRequestBuilder.header("Accept", "application/json");

        try {
            byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scanReportV3);
            localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
        } catch (IOException e) {
            throw new ApiException(e);
        }
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Get condensed reports for a Model Scan
     *
     * @param modelVersionIds Model Version ID (optional)
     * @param modelIds Model ID (optional)
     * @param startTime Start Time (optional)
     * @param endTime End Time (optional)
     * @param severity Severities (optional)
     * @param status Statuses (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param sort allow sorting by status, severity or created at, ascending (+) or the default descending (-) (optional, default to -start_time)
     * @param latestPerModelVersionOnly only return latest result per model version (optional, default to false)
     * @return ModelScanApiV3ScanQuery200Response
     * @throws ApiException if fails to make API call
     */
    public ModelScanApiV3ScanQuery200Response modelScanApiV3ScanQuery(
            List<String> modelVersionIds,
            List<String> modelIds,
            OffsetDateTime startTime,
            OffsetDateTime endTime,
            List<String> severity,
            List<String> status,
            Integer limit,
            Integer offset,
            String sort,
            Boolean latestPerModelVersionOnly)
            throws ApiException {
        ApiResponse<ModelScanApiV3ScanQuery200Response> localVarResponse = modelScanApiV3ScanQueryWithHttpInfo(
                modelVersionIds,
                modelIds,
                startTime,
                endTime,
                severity,
                status,
                limit,
                offset,
                sort,
                latestPerModelVersionOnly);
        return localVarResponse.getData();
    }

    /**
     * Get condensed reports for a Model Scan
     *
     * @param modelVersionIds Model Version ID (optional)
     * @param modelIds Model ID (optional)
     * @param startTime Start Time (optional)
     * @param endTime End Time (optional)
     * @param severity Severities (optional)
     * @param status Statuses (optional)
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param sort allow sorting by status, severity or created at, ascending (+) or the default descending (-) (optional, default to -start_time)
     * @param latestPerModelVersionOnly only return latest result per model version (optional, default to false)
     * @return ApiResponse&lt;ModelScanApiV3ScanQuery200Response&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<ModelScanApiV3ScanQuery200Response> modelScanApiV3ScanQueryWithHttpInfo(
            List<String> modelVersionIds,
            List<String> modelIds,
            OffsetDateTime startTime,
            OffsetDateTime endTime,
            List<String> severity,
            List<String> status,
            Integer limit,
            Integer offset,
            String sort,
            Boolean latestPerModelVersionOnly)
            throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelScanApiV3ScanQueryRequestBuilder(
                modelVersionIds,
                modelIds,
                startTime,
                endTime,
                severity,
                status,
                limit,
                offset,
                sort,
                latestPerModelVersionOnly);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelScanApiV3ScanQuery", localVarResponse);
                }
                return new ApiResponse<ModelScanApiV3ScanQuery200Response>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        localVarResponse.body() == null
                                ? null
                                : memberVarObjectMapper.readValue(
                                        localVarResponse.body(),
                                        new TypeReference<
                                                ModelScanApiV3ScanQuery200Response>() {}) // closes the InputStream
                        );
            } finally {
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelScanApiV3ScanQueryRequestBuilder(
            List<String> modelVersionIds,
            List<String> modelIds,
            OffsetDateTime startTime,
            OffsetDateTime endTime,
            List<String> severity,
            List<String> status,
            Integer limit,
            Integer offset,
            String sort,
            Boolean latestPerModelVersionOnly)
            throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scan/v3/results";

        List<Pair> localVarQueryParams = new ArrayList<>();
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        localVarQueryParameterBaseName = "model_version_ids";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "model_version_ids", modelVersionIds));
        localVarQueryParameterBaseName = "model_ids";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "model_ids", modelIds));
        localVarQueryParameterBaseName = "start_time";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("start_time", startTime));
        localVarQueryParameterBaseName = "end_time";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("end_time", endTime));
        localVarQueryParameterBaseName = "severity";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "severity", severity));
        localVarQueryParameterBaseName = "status";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "status", status));
        localVarQueryParameterBaseName = "limit";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
        localVarQueryParameterBaseName = "offset";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
        localVarQueryParameterBaseName = "sort";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
        localVarQueryParameterBaseName = "latest_per_model_version_only";
        localVarQueryParams.addAll(
                ApiClient.parameterToPairs("latest_per_model_version_only", latestPerModelVersionOnly));

        if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
            StringJoiner queryJoiner = new StringJoiner("&");
            localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
            if (localVarQueryStringJoiner.length() != 0) {
                queryJoiner.add(localVarQueryStringJoiner.toString());
            }
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
        } else {
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        }

        localVarRequestBuilder.header("Accept", "application/json; charset=utf-8");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Retrieve Model Scan Results
     *
     * @param scanId  (optional)
     * @return List&lt;ScanResultsV2&gt;
     * @throws ApiException if fails to make API call
     */
    public List<ScanResultsV2> modelscanApiV3GetScanResults(UUID scanId) throws ApiException {
        ApiResponse<List<ScanResultsV2>> localVarResponse = modelscanApiV3GetScanResultsWithHttpInfo(scanId);
        return localVarResponse.getData();
    }

    /**
     * Retrieve Model Scan Results
     *
     * @param scanId  (optional)
     * @return ApiResponse&lt;List&lt;ScanResultsV2&gt;&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<List<ScanResultsV2>> modelscanApiV3GetScanResultsWithHttpInfo(UUID scanId) throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelscanApiV3GetScanResultsRequestBuilder(scanId);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscanApiV3GetScanResults", localVarResponse);
                }
                return new ApiResponse<List<ScanResultsV2>>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        localVarResponse.body() == null
                                ? null
                                : memberVarObjectMapper.readValue(
                                        localVarResponse.body(),
                                        new TypeReference<List<ScanResultsV2>>() {}) // closes the InputStream
                        );
            } finally {
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscanApiV3GetScanResultsRequestBuilder(UUID scanId) throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath =
                "/scans/v3/results/{scan_id}".replace("{scan_id}", ApiClient.urlEncode(scanId.toString()));

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json; charset=utf-8, application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Engine Report Endpoint of Model Scan Results
     *
     * @param scanId  (required)
     * @param scanCreateRequest Request body for reporting a scan of one or more file results (required)
     * @throws ApiException if fails to make API call
     */
    public void modelscanApiV3PostScanResults(UUID scanId, ScanCreateRequest scanCreateRequest) throws ApiException {
        modelscanApiV3PostScanResultsWithHttpInfo(scanId, scanCreateRequest);
    }

    /**
     * Engine Report Endpoint of Model Scan Results
     *
     * @param scanId  (required)
     * @param scanCreateRequest Request body for reporting a scan of one or more file results (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<Void> modelscanApiV3PostScanResultsWithHttpInfo(UUID scanId, ScanCreateRequest scanCreateRequest)
            throws ApiException {
        HttpRequest.Builder localVarRequestBuilder =
                modelscanApiV3PostScanResultsRequestBuilder(scanId, scanCreateRequest);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscanApiV3PostScanResults", localVarResponse);
                }
                return new ApiResponse<Void>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        null);
            } finally {
                // Drain the InputStream
                while (localVarResponse.body().read() != -1) {
                    // Ignore
                }
                localVarResponse.body().close();
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscanApiV3PostScanResultsRequestBuilder(
            UUID scanId, ScanCreateRequest scanCreateRequest) throws ApiException {
        // verify the required parameter 'scanId' is set
        if (scanId == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'scanId' when calling modelscanApiV3PostScanResults");
        }
        // verify the required parameter 'scanCreateRequest' is set
        if (scanCreateRequest == null) {
            throw new ApiException(
                    400,
                    "Missing the required parameter 'scanCreateRequest' when calling modelscanApiV3PostScanResults");
        }

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath =
                "/scans/v3/reports/{scan_id}".replace("{scan_id}", ApiClient.urlEncode(scanId.toString()));

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Content-Type", "application/json");
        localVarRequestBuilder.header("Accept", "application/json");

        try {
            byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scanCreateRequest);
            localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
        } catch (IOException e) {
            throw new ApiException(e);
        }
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * List all Model Scan Jobs
     *
     * @return List&lt;ScanJob&gt;
     * @throws ApiException if fails to make API call
     */
    public List<ScanJob> modelscannerApiV3GetJobs() throws ApiException {
        ApiResponse<List<ScanJob>> localVarResponse = modelscannerApiV3GetJobsWithHttpInfo();
        return localVarResponse.getData();
    }

    /**
     * List all Model Scan Jobs
     *
     * @return ApiResponse&lt;List&lt;ScanJob&gt;&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<List<ScanJob>> modelscannerApiV3GetJobsWithHttpInfo() throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelscannerApiV3GetJobsRequestBuilder();
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscannerApiV3GetJobs", localVarResponse);
                }
                return new ApiResponse<List<ScanJob>>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        localVarResponse.body() == null
                                ? null
                                : memberVarObjectMapper.readValue(
                                        localVarResponse.body(),
                                        new TypeReference<List<ScanJob>>() {}) // closes the InputStream
                        );
            } finally {
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscannerApiV3GetJobsRequestBuilder() throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scans/v3/jobs";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json; charset=utf-8");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Health check endpoint for Model Supply Chain Services
     *
     * @throws ApiException if fails to make API call
     */
    public void modelscannerApiV3HealthCheck() throws ApiException {
        modelscannerApiV3HealthCheckWithHttpInfo();
    }

    /**
     * Health check endpoint for Model Supply Chain Services
     *
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<Void> modelscannerApiV3HealthCheckWithHttpInfo() throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelscannerApiV3HealthCheckRequestBuilder();
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscannerApiV3HealthCheck", localVarResponse);
                }
                return new ApiResponse<Void>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        null);
            } finally {
                // Drain the InputStream
                while (localVarResponse.body().read() != -1) {
                    // Ignore
                }
                localVarResponse.body().close();
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscannerApiV3HealthCheckRequestBuilder() throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scans/v3/health";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Request a Model Scan Job
     *
     * @param scanJob Request body for create scan request (required)
     * @throws ApiException if fails to make API call
     */
    public void modelscannerApiV3PostRequest(ScanJob scanJob) throws ApiException {
        modelscannerApiV3PostRequestWithHttpInfo(scanJob);
    }

    /**
     * Request a Model Scan Job
     *
     * @param scanJob Request body for create scan request (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<Void> modelscannerApiV3PostRequestWithHttpInfo(ScanJob scanJob) throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelscannerApiV3PostRequestRequestBuilder(scanJob);
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscannerApiV3PostRequest", localVarResponse);
                }
                return new ApiResponse<Void>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        null);
            } finally {
                // Drain the InputStream
                while (localVarResponse.body().read() != -1) {
                    // Ignore
                }
                localVarResponse.body().close();
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscannerApiV3PostRequestRequestBuilder(ScanJob scanJob) throws ApiException {
        // verify the required parameter 'scanJob' is set
        if (scanJob == null) {
            throw new ApiException(
                    400, "Missing the required parameter 'scanJob' when calling modelscannerApiV3PostRequest");
        }

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scans/v3/jobs";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Content-Type", "application/json; charset=utf-8");
        localVarRequestBuilder.header("Accept", "application/json");

        try {
            byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scanJob);
            localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
        } catch (IOException e) {
            throw new ApiException(e);
        }
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }

    /**
     * Readiness check endpoint for Model Supply Chain Services
     *
     * @throws ApiException if fails to make API call
     */
    public void modelscannerApiV3ReadinessCheck() throws ApiException {
        modelscannerApiV3ReadinessCheckWithHttpInfo();
    }

    /**
     * Readiness check endpoint for Model Supply Chain Services
     *
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException if fails to make API call
     */
    public ApiResponse<Void> modelscannerApiV3ReadinessCheckWithHttpInfo() throws ApiException {
        HttpRequest.Builder localVarRequestBuilder = modelscannerApiV3ReadinessCheckRequestBuilder();
        try {
            HttpResponse<InputStream> localVarResponse =
                    memberVarHttpClient.send(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
            if (memberVarResponseInterceptor != null) {
                memberVarResponseInterceptor.accept(localVarResponse);
            }
            try {
                if (localVarResponse.statusCode() / 100 != 2) {
                    throw getApiException("modelscannerApiV3ReadinessCheck", localVarResponse);
                }
                return new ApiResponse<Void>(
                        localVarResponse.statusCode(),
                        localVarResponse.headers().map(),
                        null);
            } finally {
                // Drain the InputStream
                while (localVarResponse.body().read() != -1) {
                    // Ignore
                }
                localVarResponse.body().close();
            }
        } catch (IOException e) {
            throw new ApiException(e);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
            throw new ApiException(e);
        }
    }

    private HttpRequest.Builder modelscannerApiV3ReadinessCheckRequestBuilder() throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/scans/v3/readiness";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
}
